# GLUETUN SETTINGS
# -----------------------------------------------

# The bind address for the webtop interface through Gluetun. You can change this to localhost if you're running this locally and don't want to expose the webtop interface to your network.
GLUETUN_BIND_ADDR=0.0.0.0

# I use OpenVPN with NordVPN, but you should be able to use WireGuard and others as well.
VPN_SERVICE_PROVIDER=nordvpn
VPN_TYPE=openvpn

# If you're running NordVPN, you'll want to user your "service credentials" for the following two variables.
OPENVPN_USER=NORDVPN_SERVICE_USER
OPENVPN_PASSWORD=NORDVPN_SERVICE_PASSWORD

# The country code(s) to connect to. You can specify multiple countries by separating them with commas, e.g. "United States,Canada,United Kingdom".
# See: https://github.com/qdm12/gluetun-wiki/blob/main/setup/servers.md#list-of-vpn-servers
SERVER_COUNTRIES=United States

# Allow local network access (adjust as needed).
# You may also use commas to separate multiple subnets, e.g. "192.168.1.0/24,192.168.2.0/24"
FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24

# I was experimenting with potential MTU issues, but this didn't seem to help. Leaving here just in case others have issues and want to try uncommenting it.
#OPENVPN_MSSFIX=1200

# -----------------------------------------------
# GLUETUN SETTINGS