# DESKTOP SETTINGS
# -----------------------------------------------
# See: https://github.com/linuxserver/docker-webtop
# For more info!

# The user ID and group ID that the container will run as. This is important for file permissions, especially if you're mounting volumes from your host machine into the container.
PUID=1000 # 1000 = typically the first user on a Linux system
PGID=1000 # 1000 = typically the first group on a Linux system

# The timezone to use in the Ubuntu desktop.
TZ=America/New_York

# The name of the desktop window.
TITLE=Ubuntu Gluetun Desktop

# These are HTTP credentials required before accessing the webtop browser page. Change them to something secure!
# You may also remove them to disable authentication, but I don't recommend that if you're exposing the webtop to a network you don't fully trust.
CUSTOM_USER=user # Change to your desired username
PASSWORD=password # Change to your desired password

# -----------------------------------------------
# DESKTOP SETTINGS