# DOCKER COMPOSE ENVIRONMENT VARIABLES
# -----------------------------------------------

# The tag to use for the Gluetun image. You can change this to a specific version if you want to lock it down, e.g. "gluetun:3.21.0".
IMG_GLUETUN_TAG=latest

# The tag to use for the webtop image. By default it uses the Ubuntu XFCE image, but you can change this if you'd like.
# Please note I haven't tested other images, so if you change this, you may need to adjust the install commands in the Dockerfile to match the base image you choose.
IMG_DESKTOP_TAG=ubuntu-xfce

# The bind address for the webtop interface through Gluetun. You can change this to localhost if you're running this locally and don't want to expose the webtop interface to your network.
GLUETUN_BIND_ADDR=0.0.0.0

# HTTP web interface port
DESKTOP_HTTP_PORT=3000

# HTTPS web interface port
DESKTOP_HTTPS_PORT=3001

# -----------------------------------------------
# DOCKER COMPOSE ENVIRONMENT VARIABLES